<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Uutiset</title>
    </head>
    <body>
        <h1>Uutiset</h1>

        <ul>
            <li th:each="uutinen : ${uutiset}">
                <a th:href="@{/uutiset/{id}(id=${uutinen.id})}">
                    <span th:text="${uutinen.otsikko + ' ' + uutinen.aika}">otsikko ja aika</span>
                </a>
            </li>
        </ul>

        
    </body>
</html>

